* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  list-style: none;
  color: black;

}

:root {
  --white: #e5eaeb;
  --lightGrey: #d1e5f3;
  --grey: #4e4e4e;
  --lightBlue: #a6d5f6;
  --blue: #3566a0;
  --green: #62d78a;
  --red: #e76060;
  --yellow: #f0f271;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: none;
}
